@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


html,body{
    position: relative;
    height: 100%;
    overflow: auto;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #ebeff2;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

img {
    width: 100%;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.navbar {
    padding: 11.6px 10px;
    background: #36404a;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
}

.navbar-default .navbar-nav>li>a{
    color: #fff;
}

.nav-menus ul.nav.navbar-nav.navbar-right li:nth-child(1) a span {
    margin-right: 11px;
    border: 1px solid;
    padding: 3px 0px;
    border-radius: 100%;
    height: 22px;
    width: 22px;
    text-align: center;
    vertical-align: middle;
}

.nav-menus ul.nav.navbar-nav.navbar-right li:nth-child(2) a span {
    margin-right: 11px;
    font-size: 20px;
    vertical-align: middle;
}

.nav-menus ul.nav.navbar-nav.navbar-right li:nth-child(3) a span {
    margin-right: 11px;
    font-size: 20px;
    vertical-align: middle;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}


.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-header .btn-info {
    color: #fff;
    background-color: #36404a;
    border-color: #36404a;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
   background: #ffffff;
    color: #505458;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 10.9px;
    background: #36404a;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #57bee6;
    background: #fff;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
color: #57bee6;
    background: transparent;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
        width: 100%;
    flex-basis: 100%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
   
    #sidebarCollapse span {
        display: none;
    }
}











/********** main content styling starts here  ************/
/*********************************************************/

.year-box span.left-arrow {
    padding-right: 10px;
    background: #47a1c4;
    color: #fff;
    padding: 8px;
    border-radius: 4px 0px 0px 4px;
}

.year-box span.right-arrow {
    padding-left: 10px;
    background: #47a1c4;
    color: #fff;
    padding: 8px;
    border-radius: 0px 4px 4px 0px;
}

.year-box strong {
    background: #55b4da;
    padding: 10px;
    color: #fff;
}

.year-box .btn-group {
    border-radius: 4px;
    background: #55b4da;
}

.year-box .btn-group button {
    border-color: #55b4da;
}

.year-box .filter-btn {
    display: inline-block;
}



.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #fff;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ebeff2;
}

/********** checkbox styling starts here  ************/
/*****************************************************/
.custom-chk {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.custom-chk input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #eee;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.custom-chk:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-chk input:checked ~ .checkmark {
    background-color: #4c5667
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-chk input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-chk .checkmark:after {
    left: 7px;
    top: 5px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.content-area {
        padding: 0px 17px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
        margin: 10px;
}

.content-block {
  background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    min-height: 534px;
    position: relative;
}

.content-block .table{
    margin-bottom: 0;
}

.content-block caption, .content-block h4 {
    font-size: 20px;
    font-weight: 500;
    color: #505458;
            padding: 12px 20px;
}


/********** range slider styling starts here  ************/
/*****************************************************/
.range-sl {
    padding: 0px 23px 10px;
}
.slider.slider-horizontal {
    width: 100% !important;
}

.slider.slider-vertical{
    position: absolute;
    top: 120px;
    right: 17px;;
}

.slider-selection {
    position: absolute;
    background-image: -webkit-linear-gradient(top,#495568 0,#495568 100%) !important;
    background-image: -o-linear-gradient(top,#495568 0,#495568 100%) !important;
    background-image: linear-gradient(to bottom,#495568 0,#495568 100%) !important;
}

.slider-handle {
    background-image: linear-gradient(to bottom,#ffffff 0,#cacaca 100%) !important;
}

